<app-shell>
  <h4 class="text-center m-0 py-4">Settings</h4>
  <form [formGroup]="settingsForm" (ngSubmit)="saveSettings()">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink>General</a>
        <ng-template ngbNavContent>
          <div formGroupName="general" class="form-group-container">
            <div class="form-group">
              <label for="profile">Profiles</label>
              <ng-select
                labelForId="profile"
                class="bootstrap"
                [items]="profileFiles"
                bindLabel="name"
                bindValue="id"
                [multiple]="true"
                [closeOnSelect]="false"
                formControlName="profiles"
              >
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" /> {{item.name}}
                </ng-template>
              </ng-select>
            </div>
            <div class="form-group">
              <label>Check Chest Tabs</label>
              <input formControlName="check_chest_tabs" type="number" class="form-control" min="0" max="5">
            </div>
            <div class="form-group">
              <label>Hidden Transparency</label>
              <input formControlName="hidden_transparency" type="number" class="form-control">
            </div>
            <div class="form-group">
              <label>Local Prefs Path</label>
              <input formControlName="local_prefs_path" class="form-control">
            </div>
            <div class="form-group">
              <label >Run Vision Mode on Startup?</label>
              <input type="checkbox" formControlName="run_vision_mode_on_startup" class="form-check-input">
            </div>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Character</a>
        <ng-template ngbNavContent>
          <div formGroupName="char" class="form-group-container">
            <div class="form-group">
              <label>Inventory Hotkey</label>
              <input formControlName="inventory" class="form-control">
            </div>
            <div class="form-group">
              <label>Health Potion Hotkey</label>
              <input formControlName="health_pot" class="form-control">
            </div>
            <div class="form-group">
              <label>Skill 3 Hotkey</label>
              <input formControlName="skill3" class="form-control">
            </div>
            <div class="form-group">
              <label>Skill 4 Hotkey</label>
              <input formControlName="skill4" class="form-control">
            </div>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Advanced Options</a>
        <ng-template ngbNavContent>
          <div formGroupName="advanced_options" class="form-group-container">
            <div class="form-group">
              <label>Run Scripts Hotkey</label>
              <input formControlName="run_scripts" class="form-control">
            </div>
            <div class="form-group">
              <label>Run Filter Hotkey</label>
              <input formControlName="run_filter" class="form-control">
            </div>
            <div class="form-group">
              <label>Exit Hotkey</label>
              <input formControlName="exit_key" class="form-control">
            </div>
            <div class="form-group">
              <label>Log Level</label>
              <select formControlName="log_lvl" class="form-control">
                <option value="info">info</option>
                <option value="warn">warn</option>
                <option value="error">error</option>
                <option value="debug">debug</option>
              </select>
            </div>
            <div class="form-group">
              <label>Scripts</label>
              <input formControlName="scripts" class="form-control">
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </form>
  <div class="buttons-container">
    <button class="btn btn-primary" [disabled]="settingsForm.pristine" (click)="saveSettings()">Save</button>
    <button class="btn btn-secondary" [disabled]="settingsForm.pristine" (click)="cancelChanges()">Cancel</button>
    <button type="button" class="btn btn-warning" (click)="resetSettings()">Reset settings</button>
  </div>
</app-shell>

<ng-template #confirmResetModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Confirm</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <p>Are you sure you want to load the default settings?</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="modal.close('Save click'); confirmReset()">CONFIRM</button>
	</div>
</ng-template>
