:host {
  display: block;
}

.left-panel {
  min-width: 150px;
  width: 20%; /* Adjust as needed */
  border-right: 1px solid var(--bs-border-color); /* Optional */
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: auto;
}

.right-panel {
  width: 80%; /* Adjust as needed */
  padding: 8px;
  overflow: auto;
}

select:has(option[value=""]:checked) {
  color: gray;
}

.affixPoolControl {
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.form-container {
  overflow: auto;
}
