<app-shell>
  <h4 class="text-center m-0 py-4">Profiles Editor</h4>

  <div class="d-flex flex-column gap-3 flex-grow-1">

    <div class="d-flex flex-column gap-2">
      <div>Select profile:</div>
      <select class="form-control form-control-sm" name="profile-picker" id="profile-picker" (change)="onChangeSelectedProfile($event.target!)">
        <option *ngFor="let profileName of profileNames$ | async" [value]="profileName">
          {{ profileName }}
        </option>
      </select>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="openOnSaveInput" [(ngModel)]="openFileOnSave">
        <label class="form-check-label" for="openOnSaveInput">
          Open on Save?
        </label>
      </div>
    </div>

    <div>
      <ul ngbNav #nav="ngbNav" [(activeId)]="activeTabId" class="nav-tabs">
        <li [ngbNavItem]="'aspects'">
          <button ngbNavLink>Aspects</button>
          <ng-template ngbNavContent>
            <app-aspect-editor [aspects]="aspects$|async" (save)="onAspectsSave($event)"></app-aspect-editor>
          </ng-template>
        </li>
        <li [ngbNavItem]="'affixes'">
          <button ngbNavLink>Affixes</button>
          <ng-template ngbNavContent>
            <app-affixes-editor [itemGroups]="itemGroups$|async" (save)="onAffixesSave($event)"></app-affixes-editor>
          </ng-template>
        </li>
        <li [ngbNavItem]="'uniques'">
          <button ngbNavLink>Uniques</button>
          <ng-template ngbNavContent>
            <app-uniques-editor></app-uniques-editor>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class=""></div>
    </div>
  </div>

</app-shell>
