<app-shell>
  <h4 class="text-center m-0 py-4">Profiles Editor</h4>

  <div class="d-flex flex-column gap-3 flex-grow-1">

    <div class="d-flex flex-column gap-2">
      <div>Select profile:</div>
      <select class="form-control form-control-sm" name="profile-picker" id="profile-picker" (change)="onChangeSelectedProfile($event.target!)">
        <option *ngFor="let profileName of profileNames$ | async" [value]="profileName">
          {{ profileName }}
        </option>
      </select>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="openOnSaveInput" [(ngModel)]="openFileOnSave">
        <label class="form-check-label" for="openOnSaveInput">
          Open on Save?
        </label>
      </div>
    </div>

    <app-aspect-editor [aspects]="aspects$|async" (save)="onAspectsSave($event)"></app-aspect-editor>
  </div>

</app-shell>
