<app-shell>
  <h4 class="text-center m-0 py-4">Profiles Editor</h4>

  <div class="d-flex flex-column gap-3 flex-grow-1">

    <div class="d-flex flex-column gap-2">
      Selected profile:
      <div class="d-flex gap-2" >
        <select *ngIf="!isEdittingProfile && !isAddingProfile" class="form-control form-control-sm" name="profile-picker" id="profile-picker"
        [(ngModel)]="selectedProfile"
        (change)="onChangeSelectedProfile($event.target!)">
          <option *ngFor="let profileName of profileNames$ | async" [value]="profileName">
            {{ profileName }}
          </option>
        </select>
          <input #profileNameInput *ngIf="isEdittingProfile || isAddingProfile" type="text" class="form-control form-control-sm" [(ngModel)]="editableProfileName">
        <button *ngIf="!isAddingProfile && !isEdittingProfile" class="btn btn-success btn-sm flex-grow-1" style="text-wrap: nowrap;" (click)="newProfile()">
          New profile
        </button>
        <button *ngIf="isAddingProfile" [disabled]="!editableProfileName" class="btn btn-success btn-sm flex-grow-1" style="text-wrap: nowrap;" (click)="saveNewProfile()">
          Save new profile
        </button>
        <button [disabled]="!selectedProfile" *ngIf="!isAddingProfile && !isEdittingProfile" class="btn btn-success btn-sm flex-grow-1" style="text-wrap: nowrap;" (click)="editProfile()">
          Edit profile name
        </button>
        <button *ngIf="isEdittingProfile" [disabled]="!editableProfileName" class="btn btn-success btn-sm flex-grow-1" style="text-wrap: nowrap;" (click)="saveEditProfile()">
          Save edit
        </button>
        <button *ngIf="!isAddingProfile && !isEdittingProfile" [disabled]="!selectedProfile" class="btn btn-danger btn-sm flex-grow-1" style="text-wrap: nowrap;" (click)="deleteProfile()">
          Delete
        </button>
        <button *ngIf="isAddingProfile || isEdittingProfile" class="btn btn-secondary btn-sm flex-grow-1" (click)="cancelEdit()">Cancel</button>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="openOnSaveInput" [(ngModel)]="openFileOnSave">
        <label class="form-check-label" for="openOnSaveInput">
          Open on Save?
        </label>
      </div>
    </div>

    <div>
      <ul ngbNav #nav="ngbNav" [(activeId)]="activeTabId" class="nav-tabs">
        <li [ngbNavItem]="'aspects'">
          <button ngbNavLink>Aspects</button>
          <ng-template ngbNavContent>
            <app-aspect-editor [aspects]="aspects$|async" (save)="onAspectsSave($event)"></app-aspect-editor>
          </ng-template>
        </li>
        <li [ngbNavItem]="'affixes'">
          <button ngbNavLink>Affixes</button>
          <ng-template ngbNavContent>
            <app-affixes-editor [itemGroups]="itemGroups$|async" (save)="onAffixesSave($event)"></app-affixes-editor>
          </ng-template>
        </li>
        <li [ngbNavItem]="'uniques'">
          <button ngbNavLink>Uniques</button>
          <ng-template ngbNavContent>
            <app-uniques-editor></app-uniques-editor>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class=""></div>
    </div>
  </div>

</app-shell>


<ng-template #confirmDeleteModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Confirm</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
    <p>Are you sure you want to delete this profile?</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="modal.close()">DELETE</button>
	</div>
</ng-template>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="onModalOpen(content)">Launch demo modal</button> -->
