/* Importing Bootstrap SCSS file. */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "bootstrap/scss/bootstrap";
@import "ngx-toastr/toastr";

html,
body {
  height: 100%;
  color: white;
  background-color: #231f20;
}

.container {
  height: calc(100%);
}

.ng-select.bootstrap {
  .ng-select-container {
    // display: block;
    width: 100%;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    .ng-value-container .ng-input>input {
      color: var(--bs-body-color);
    }
  }
  .ng-option {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    &.ng-option-marked {
      background-color: #99c8ff;
    }
    &.ng-option-selected {
      color: var(--bs-body-color);
      background-color: #2f353a;
      &:hover {
        background-color: #99c8ff;
      }
      input[type="checkbox"] {
        accent-color: #0d6efd;
      }
    }
    &.ng-option-selected.ng-option-marked {
      background-color: #2f353a;
      color: var(--bs-body-color);
      &:hover {
        background-color: #99c8ff;
        color: #333
      }
    }
  }
  .ng-dropdown-panel {
    border-color: var(--bs-border-color);
  }
}
